/* From cssbuttons.io */
.btn-about {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    height: auto;
    width: 12rem;
}


.btn-about .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #ffd700;
    border-radius: 1.625rem;
}

button.btn-about .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

.btn-about .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.btn-about .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

.btn-about .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: black;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

.btn-about:hover .circle {
    width: 100%;
}

.btn-about:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

.btn-about:hover .button-text {
    color: #fff;
}

.paragraph-content {
    background-image: url('/static/images/about_us/aboutUs.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.clip-me {
    clip-path: polygon(3% 36%, 7% 14%, 31% 1%, 66% 6%, 85% 15%, 92% 32%, 96% 69%, 90% 89%, 67% 96%, 32% 93%, 17% 81%, 12% 65%);
}