@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #e5e5e5;
}

.register-section {
    background-image: url('/static/images/register/register-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

select option {
    font-weight: 400;
    font-size: 12px;
    color: black;
}

.form-content {
    box-shadow: 0 0 8px 0;
    background: inherit;
    backdrop-filter: blur(10px);
}

.btn-cancel:hover {
    color: white;
}