{% extends "admin/index.html" %}

{% block content %}
{% load static %}
<section class="container-fluid">
    <section class="container">
        <table class="table table-striped table-light table-hover">
            <thead>
                <tr class="col">
                    <th scope="col-md-3">Customer Id</th>
                    <th scope="col-md-3">First Name</th>
                    <th scope="col-md-3">Last Name</th>
                    <th scope="col-md-3">Email</th>
                    <th scope="col-md-4">Gender</th>
                    <th scope="col-md-4">Phone No.</th>
                    <th scope="col-md-4">Picture</th>
                    <th scope="col-md-4"></th>


                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                <tr>
                    <th scope="row">{{customer.customer_id}}</th>
                    <td>{{customer.customer_first}}</td>
                    <td>{{customer.customer_last}}</td>
                    <td>{{customer.email}}</td>
                    <td>{{customer.customer_gender}}</td>
                    <td>{{customer.customer_contact}}</td>
                    <td><img width="100" src="{% static 'asserts/' %}{{customer.customer_picture}}" alt="Profile"></td>

                    <td><span class="far fa-edit px-2" style="font-size: 25px;color:green;"></span><span
                            class="fas fa-trash px-2" style="font-size: 25px;color:#dc3545;"></span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

        <nav class="row" aria-label="...">

            <ul class="pagination d-flex justify-content-start">
                <div class="col-5 justify-content-start ms-2">
                    <a href="/admin/adduser/" class="btn btn-primary">Add User</a>
                </div>
                <li class="page-item">
                    <span class="page-link">Previous</span>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item" aria-current="page">
                    <span class="page-link">2</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>

            </ul>
        </nav>
    </section>


    {% endblock %}