{% extends 'admin/base.html' %}
{% block content %}
    <section class="container-fluid" style="background-color: #2B373B; color: white;">
        <div class="container">
            <div class="row py-5">
                <div class="col-md-3 bg-primary ms-md-4 rounded py-4">
                    <h4 style="text-align: center;">Total No. Customer</h4>
                    <p style="text-align: center; font-size: 30px;">{{customers}}</p>
                </div>
                <div class="col-1">
                </div>
                <div class="col-md-3 bg-danger rounded py-4">
                    <h4 style="text-align: center;">Total No. Product</h4>
                    <p style="text-align: center; font-size: 30px;">{{products}}</p>
                </div>
                <div class="col-1">
                </div>
                <div class="col-md-3 bg-warning rounded py-4">
                    <h4 style="text-align: center;">Total No. Order</h4>
                    <p style="text-align: center; font-size: 30px;">50</p>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid">
        <table class="table table-striped table-light">
            <thead>

                <tr>
                    <th scope="col">S.N</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col"></th>


                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <th scope="row">{{user.user_id}}</th>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.password}}</td>

                    <td><span class="far fa-edit px-2" style="font-size: 25px;color:green;"></span><span
                            class="fas fa-trash px-2" style="font-size: 25px;color:#dc3545;"></span>
                    </td>
                </tr>
                {% endfor %}
                </tr>
                
            </tbody>
        </table>
        </div>
        <nav class="row" aria-label="...">

            <ul class="pagination d-flex justify-content-start">
                
                <div class="col-5 justify-content-start ms-2">
                    {% if admin_users.is_admin == True %}
                    <a href="/admin/adduser/" class="btn btn-primary">Add User</a>
                    {% endif %}
                </div>
                
                <li class="page-item">
                    <span class="page-link">Previous</span>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item" aria-current="page">
                    <span class="page-link">2</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>

            </ul>
        </nav>
    </section>

{% endblock %}