<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Administrator Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>

    <form class="container mt-5" method="POST" action="">
        {% csrf_token %}

        <div class="col-6">
            <label class="form-label">Username</label><br>
            <input type="text" class="form-control" name="username"><br>
        </div>
        <div class="col-6">
            <label class="form-label">Password</label><br>
            <input type="password" class="form-control" name="password"><br>
        </div>
        <div class="col-3">
            <button type="submit" class="btn btn-lg bg-warning">Login</button>
        </div>
    </form>
</body>

</html>