<section class="container-fluid w-100 pb-5 pt-5" id="scrollspyHeading4">
    <section class="container me-lg-3">
        <div class="col-lg-12 d-flex pt-5 justify-content-center">
            <h1><span style="color: #ffd700;">Contact</span> Us!</h1>
        </div>
        <div class="col-12 mt-2">
            <div class="row">
                <div class="col ms-xl-5">
                    <div class="row g-0">
                        <div class="col-8 ms-xl-5 mt-5">
                            <i class="fas fa-map-marked-alt" style="font-size: 28px;color:#ffd700;"></i><span
                                style="font-size: 18px; padding-left: 15px;">Bhrikuti Chowk, Kapan,
                                Katmandu</span>
                        </div>

                        <div class="col-8 ms-xl-5 my-3 ">
                            <i class="fas fa-envelope" style="font-size: 28px;color:#ffd700;"></i><span
                                style="font-size: 18px; padding-left: 15px; line-break: anywhere;">Prashantprogramming@gmail.com</span>
                        </div>
                        <div class="col-12 ms-xl-5 mt-2">
                            <div class="w-100"><iframe class="w-75 google-map" height="260px" id="gmap_canvas"
                                    src="https://maps.google.com/maps?q=bhrikuti%20chowk&t=&z=9&ie=UTF8&iwloc=&output=embed"
                                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <form class="row g-0 ">
                        <div class="col-7 form-floating mt-5">
                            <input type="name" class="form-control contact-field my-1" id="floatingInput"
                                placeholder="Name">
                            <label for="floatingInput">Name</label>
                        </div>
                        <div class="col-7 form-floating mt-3 mb-2">
                            <input type="text" class="form-control contact-field my-2" id="floatingEmail"
                                placeholder="Email address">
                            <label for="floatingEmail">Email address</label>
                        </div>
                        <div class="col-7 form-floating mt-3 mb-3">
                            <textarea class="form-control contact-field" placeholder="Leave a comment here"
                                id="floatingTextarea2" style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Message</label>
                        </div>
                        <div class="col-7 mt-3 mb-2">
                            <button class="w-100 btn btn-lg btn-warning" style="border-radius: 50px;">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</section>