<section class="container-fluid footer-content py-5">
    <div class="row pt-5">
        <div class="col-12 pt-5 mt-3"></div>
        <div class="col-lg-12 mt-5">
            <div class="row">
                <div class="col-4">
                    <form class="row g-0">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-6 mt-3" style="position: relative;">
                            <input type="email" placeholder="Enter your email" class="form-control"
                                style="background-color: #eeeeee;"><img src="/static/images/footer/arrow.svg"
                                class="arrow" height="22px" width="35px"
                                style="position: absolute; top: 8px; right:10px;">
                        </div>
                    </form>
                </div>
                <div class="col-lg-4 mt-4">
                    <div class="row g-0">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-8">

                            <a href="#" class="footer-link mx-lg-2">Home</a>
                            <a href="#" class="footer-link mx-lg-2">Product</a>
                            <a href="#" class="footer-link mx-lg-2">About</a>
                            <a href="#" class="footer-link mx-lg-2">Contact</a>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-4">
                    <div class="row g-0">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-7">
                            <a href="#" class="footer-link mx-lg-1"><i class="fab fa-facebook"
                                    style="font-size: 30px;"></i></a>
                            <a href=" #" class="footer-link mx-lg-1"><i class="fab fa-google"
                                    style="font-size: 28px;"></i></a>
                            <a href="#" class="footer-link mx-lg-1"><i class="fab fa-instagram"
                                    style="font-size: 30px;"></i></a>
                            <a href=" #" class="footer-link mx-lg-1"><i class="fab fa-github"
                                    style="font-size: 30px;"></i></a>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-12 mt-5">
        <hr style="background-color: white; height: 4px;">
    </div>
    <div class="col-lg-12 mt-5">
        <div class="row r-0">

            <div class="col-lg-4">
                <div class="row g-0">
                    <div class="col-4"></div>
                    <div class="col-lg-8 mt-2">
                        <a href="#" class="footer-link mx-lg-2">Terms</a>
                        <a href="#" class="footer-link mx-lg-2">Privacy</a>
                        <a href="#" class="footer-link mx-lg-2">About</a>
                        <a href="#" class="footer-link mx-lg-2">Contact</a>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row g-0">
                    <div class="col-5"></div>
                    <div class="col-lg-7">
                        <label class="ms-lg-4" style="color:rgba(255, 252, 249, 0.877); font-size:25px">CakeMart
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row g-0">
                    <div class="col-4"></div>
                    <div class="col-lg-8  mt-2">
                        <label class="ms-lg-4"
                            style="color:rgba(255, 252, 249, 0.877);">Copyright<sup>&copy;</sup>&nbsp;2018
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>