{% extends 'admin/index.html' %}
{% block content %}

<form class="container has-validation" method="POST" action="/admin/editProduct/{{product.product_id}}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-6">
        <label class="form-label" for="validationDefault01">Product Name</label><br>
        <input class="form-control" id="validationDefault01" type="text" name="product_name" value="{{product.product_name}}" required>
        </input>
    </div>
    <div class="col-6">
        <div class="col-md-3">
            <label class="form-label" for="validationDefault02">Category</label><br>
            <select class="form-select" id="validationCustom04" name="product_category" value ="{{product.product_category}}" required>
                <option selected>Choose...</option>
                <option value="cake">Cake</option>
                <option value="cupcake">Cup-Cake</option>
                <option value="dessert">Dessert</option>

            </select>
        </div>
    </div>
    <div class="col-6">
        <label class="form-label" for="validationDefaultUsername">Price</label><br>
        <input class="form-control" type="number" name="product_price" value="{{product.product_price}}" for="validationDefaultUsername" required>
        </input>
    </div>
    <div class="col-6">
        <label class="form-label" for="validationDefault01">Image</label><br>
        <div class="input-group mb-3">
            <input type="file" name="product_picture" class="form-control" vaule="{{product.product_picture}}" id="inputGroupFile02">
        </div><br>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-6">
                <input class="btn btn-lg bg-primary text-light" type="submit" value="Update">
                </input>
            </div>
            <div class="col-6">
                <a href="/admin/product/" class="btn btn-lg bg-danger text-light">Cancel
                </a>
            </div>
        </div>
    </div>

</form>


{% endblock%}