{% extends 'admin/index.html' %}
{% block content %}

<form class="container mt-2 has-validation" method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-md-6 offset-md-3 text-center">
        <i class="fa-brands fa-product-hunt text-success" style="font-size:100px"  ></i>

        <h3>Add Product</h3>
    </div>
    <div class="col-md-6 offset-md-3">
        <label class="form-label" for="validationDefault01">Product Name</label><br>
        <input class="form-control" id="validationDefault01" type="text" name="product_name" required>
        </input>
    </div>
    <div class="col-md-6 offset-md-3">
        <div class="col-md-3">
            <label class="form-label" for="validationDefault02">Category</label><br>
            <select class="form-select" id="validationCustom04" name="product_category" required>
                <option selected>Choose...</option>
                <option value="cake">Cake</option>
                <option value="cupcake">Cup-Cake</option>
                <option value="dessert">Dessert</option>

            </select>
        </div>
    </div>
    <div class="col-md-6 offset-md-3">
        <label class="form-label" for="validationDefaultUsername">Price</label><br>
        <input class="form-control" type="number" name="product_price" for="validationDefaultUsername" required>
        </input>
    </div>
    <div class="col-md-6 offset-md-3">
        <label class="form-label" for="validationDefault01">Image</label><br>
        <div class="input-group mb-3">
            <input type="file" name="product_picture" class="form-control" id="inputGroupFile02" accept=".jpg, .jpeg, .png" required>
        </div><br>
    </div>
    <div class="col-md-6 offset-md-3">
        <div class="row">
            <div class="col-md-6 mb-2">
                <input class="btn btn-lg bg-primary text-light" type="submit" value="Add Product">
                </input>
            </div>
            <div class="col-md-6">
                <a href="/admin/product/" class="btn btn-lg bg-danger text-light">Cancel
                </a>
            </div>
        </div>
    </div>

</form>
</section>

{% endblock%}