{% extends "admin/index.html" %}

{% block content %}
{% load static %}
<section class="container-fluid">
    <section class="container">
        <table class="table table-responsive table-striped table-primary table-hover">
            <thead>
                <tr class="col">
                    <th scope="col">Product Id.</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Picture</th>
                    <th scope="col">Cost</th>
                    <th scope="col"></th>


                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for product in products %}
                    <th scope="row">{{product.product_id}}</th>
                    <td>{{product.product_name}}</td>
                    <td>{{product.product_category}}</td>
                    <td><img width="100" height="100" src="{% static 'assets/' %}{{product.product_picture}}"
                            alt="Profile"></td>
                    <td>Rs.{{product.product_price}} </td>
                    {% if admin_user.is_admin == True %}
                    <td><a href="/admin/editProduct/{{product.product_id}}"><i class="far fa-edit px-2"
                                style="font-size: 25px;color:green;"></i></a><a
                            href="/admin/deleteProduct/{{product.product_id}}"><i class="fas fa-trash px-2"
                                style="font-size: 25px;color:#dc3545;"></i></a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

        <nav class="row" aria-label="...">

            <ul class="pagination d-flex justify-content-start">
                <div class="col-5 justify-content-start ms-2">
                    {% if admin_user.is_admin == True %}
                    <a href="/admin/addProduct/" class="btn btn-primary">Add Product</a>
                    {% endif %}
                </div>
                <li class="page-item">
                    <span class="page-link">Previous</span>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item" aria-current="page">
                    <span class="page-link">2</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>

            </ul>
        </nav>
    </section>


    {% endblock %}