<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cake Mart | Update your profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/static/css/update/update.css" rel="stylesheet">
    <script src="/static/js/jquery.js"></script>

</head>

<body>

    <section class="container-fluid">
        <form class="row mt-3" method="POST" style="border-radius:30px; background-color:#E2E3DE;"
            enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-lg-12">
                <div class="offset-sm-4 mt-4 mb-3">
                    <h3 style="display:inline">
                        Update Your Information.
                    </h3>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="offset-sm-5 profileimg mb-2"> <img src="/static/assets/{{userdata.customer_picture}}"
                        id="image" />
                </div>
                <div class="offset-sm-4 mb-4 ">
                    <input type="file" name="customer_picture" onChange="imageOpen(this);"><br>
                </div>
            </div>
            <div class="col-2 mb-lg-4"></div>
            <div class="col-lg-4 mb-lg-4">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control" name="customer_first" value="{{userdata.customer_first}}">
            </div>
            <div class="col-1 mb-4"></div>
            <div class="col-lg-4 mb-lg-4">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control" name="customer_last" value="{{userdata.customer_last}}">
            </div>
            <div class="col-1 mb-4"></div>
            <div class="col-2 mb-4"></div>
            <div class="col-lg-4 mb-lg-4">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" name="email" value="{{userdata.email}}">
            </div>
            <div class="col-1 mb-4"></div>
            <div class="col-lg-4 mb-lg-4">
                <label class="form-label">Password</label>
                <input type="text" class="form-control" name="password" value="{{userdata.password}}">
            </div>
            <div class="col-1 mb-4"></div>
            <div class="col-2 mb-4"></div>
            <div class="col-lg-4 mb-lg-4">
                <label class="form-label">Gender</label>
                <select class="form-select" name="customer_gender" id="validationTooltip04" required>
                    <option selected>{{userdata.customer_gender}}</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Not-Sepcified">Not Specified</option>
                </select>

            </div>
            <div class="col-1 mb-4"></div>
            <div class="col-lg-4 mb-lg-4">
                <label class="form-label">Phone No</label>
                <input type="number" class="form-control" name="customer_contact" value="{{userdata.customer_contact}}">
            </div>
            <!-- <div class="col-4 mb-4"></div> -->
            <div class="col-2 mb-4"></div>
            <div class="col-md-4 d-flex justify-content-end ms-5 mb-4 mt-2">
                <button type="submit" class="btn btn-lg btn-primary">Update</button>
            </div>

            <div class="col-md-4 mb-4">
                <a href="/index/" class="btn btn-lg btn-danger  mt-2">Cancel</a>
            </div>
        </form>
    </section>
    <script src="/static/js/image.js"></script>
</body>

</html>