@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
:root {
  --green: #29d9d5;
  --black: #fff;
  --light-color: #ddd;
  --bg-color: #222;
  --blue:#2980b9;
  --red:tomato;
  --orange:orange;
  --black:#333;
  --white:#fff;
  --bg-color:#eee;
   --dark-bg:rgba(0,0,0,.7);
  --border: 0.1rem solid rgba(221, 221, 221, 0.4);
  --box-shadow: 0.4rem 0.4rem 1rem rgb(7, 115, 129),
    -0.4rem -0.4rem 1rem rgb(202, 204, 204);
  --box-shadow2: 0.4rem 0.4rem 1rem rgb(202, 204, 204),
    -0.4rem -0.4rem 1rem rgb(7, 115, 129);
  --box-shadow-inset: 0.4rem 0.4rem 1rem #111 inset,
    -0.4rem -0.4rem 1rem #333 inset;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101d;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  box-shadow: var(--box-shadow);
}
.sidebar.open {
  width: 250px;
}
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #fff;
}
.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #fff;
}
.sidebar .bx-search:hover {
  background: #fff;
  color: #11101d;
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101d;
}
.sidebar li a:hover {
  background: #fff;
}
.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101d;
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar .nav-list li a.active {
  background: #0ea1b4;
}
.sidebar .nav-list li a:hover {
  background: #0f969b;
}
.sidebar.open li.profile {
  width: 250px;
}
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job {
  font-size: 12px;
}
.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}
.home-section {
  position: relative;
  background: #1d1b31;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: 100%;
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text {
  display: inline-block;
  color: #ffffff;
  font-size: 3rem;
  text-align: center;
  /* font-weight: 500; */
  margin: 20px 58px;
}
.home-section .home-content {
  position: relative;
  padding-top: 104px;
}
.home-content .overview-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
}
.overview-boxes .box {
  margin: 1rem auto;
  width: 15rem;
  text-align: center;
  background: #11101d;
  color: #29d9d5;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: var(--box-shadow2);
}
.overview-boxes .box-topic {
  font-size: 20px;
  font-weight: 500;
}
.home-content .box .number {
  display: inline-block;
  font-size: 35px;
  margin-top: -6px;
  font-weight: 500;
}
.home-content .box .indicator {
  display: flex;
  align-items: center;
}
.home-content .box .indicator i {
  height: 20px;
  width: 20px;
  background: #8fdacb;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  margin-right: 5px;
}
.box .indicator i.down {
  background: #e87d88;
}
.home-content .box .indicator .text {
  font-size: 12px;
}
.home-content .box .cart {
  display: inline-block;
  font-size: 32px;
  height: 50px;
  width: 50px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 12px;
  margin: -15px 0 0 6px;
}
.home-content .box .cart.two {
  color: #2bd47d;
  background: #c0f2d8;
}
.home-content .box .cart.three {
  color: #ffc233;
  background: #ffe8b3;
}
.home-content .box .cart.four {
  color: #e05260;
  background: #f7d4d7;
}
.home-content .total-order {
  font-size: 20px;
  font-weight: 500;
}
.home-content .sales-boxes {
  display: flex;
  justify-content: space-between;
  /* padding: 0 20px; */
}

.home-content .sales-boxes .recent-sales {
  margin: 1rem auto;
  max-width: 120rem;
  background: #11101ded;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  margin-bottom: 10rem;
}
.home-content .sales-boxes .sales-details .add-product-form span {
  margin-top: 1rem;
  max-width: 80rem;
  color: #f8f8f8;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-content .sales-boxes .sales-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sales-boxes .box .title {
  font-size: 24px;
  font-weight: 500;
  /* margin-bottom: 10px; */
}
.sales-boxes .sales-details li.topic {
  font-size: 20px;
  font-weight: 500;
}
.sales-boxes .sales-details .add-product-form .box {
  background-color: #f1f1f1d7;
  color: #0a2558;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.sales-boxes .sales-details .add-product-form .list {
  padding: .5rem;
  width: 100%;
  background: #f1f1f1d7;
  color:#111;
  font-size: 1.3rem;
  text-transform: none;
  margin: 0.7rem 0;
  border-radius: 0.5rem;
}
.sales-boxes .sales-details .add-product-form .btn {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #0ea1b4;
  color: #ffffff;
  color: var(--white);
  font-size: 1.5rem;
  padding: 0.2rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}
.sales-boxes .sales-details .add-product-form h3 {
  text-align: center;
  color: #0ea1b4;
  font-size: 2rem;
}
.sales-boxes .recent-sales .title {
  text-align: center;
  color: #ffffff;
  font-size: 2.5rem;
}
.sales-boxes .sales-details .add-product-form .box3 {
  padding: 0.5rem;
  width: 100%;
  background: #dbdbdbd7;
  color: var(--black);
  font-size: 1.6rem;
  text-transform: none;
  margin: 0.7rem 0;
  /* box-shadow: var(--box-shadow); */
  border-radius: 0.5rem;
}
.sales-boxes .sales-details li {
  list-style: none;
  margin: 8px 0;
}
.sales-boxes .sales-details li a {
  font-size: 18px;
  color: #333;
  font-size: 400;
  text-decoration: none;
}
.sales-boxes .box .button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.sales-boxes .box .button a {
  color: #fff;
  background: #0a2558;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.sales-boxes .box .button a:hover {
  background: #0d3073;
}
.sales-boxes .sales-details table{
   width: 100%;
   text-align: center;
}

.sales-boxes .sales-details table thead th{
   padding:1.5rem;
   font-size: 1.8rem;
   background-color: var(--black);
   color:var(--white);
}

.sales-boxes .sales-details table td{
   padding:1.5rem;
   font-size: 1.5rem;
   color:#0ea1b4
}

.sales-boxes .sales-details table td:first-child{
   padding:0;
}

.sales-boxes .sales-details table tr:nth-child(even){
   background-color: var(--bg-color);
}

.sales-boxes .sales-details .empty{
   margin-bottom: 2rem;
   text-align: center;
   background-color: var(--bg-color);
   color:var(--black);
   font-size: 2rem;
   padding:1.5rem;
}

.option-btn,
.delete-btn{
   display: block;
   width: 100%;
   text-align: center;
   background-color: var(--blue);
   color:var(--white);
   font-size: 1.7rem;
   padding:1.2rem 3rem;
   border-radius: .5rem;
   cursor: pointer;
   margin-top: 1rem;
}

.option-btn:hover,
.delete-btn:hover{
   background-color: #29d9d5;
}

.option-btn i,
.delete-btn i{
   padding-right: .5rem;
}

.option-btn{
   background-color: var(--orange);
}
.delete-btn{
    margin-top: 0;
    background-color: var(--red);
}
@media (max-width: 1290px) {
  .home-section{
    width: 90rem
    /* left: 60px; */
  }
  .sidebar.active ~ .home-section{
    /* width: calc(100% - 220px); */
    overflow: hidden;
    left: 220px;
  }
  .home-section nav{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section nav{
    width: calc(100% - 220px);
    left: 220px;
  }
}

@media (max-width: 1190px) {
  .home-content .sales-boxes{
    flex-direction: column;
  }
  .home-content .sales-boxes .box{
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .home-content .sales-boxes .top-sales{
    margin: 0;
  }
  .home-section{
    width: 100%;
  }
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
  .home-section{
    width: 100%;
  }

}

@media (max-width:768px){
   .sales-boxes .sales-details{
      overflow-x: scroll;
   }

   .sales-boxes .sales-details table{
      width: 90rem;
   }
   .btn{

   }
   .home-content .sales-boxes .sales-details{
    width: 100%;
  }

}
